@model List<CustomerResponse>

<h1>Customers</h1>

<table class="table">
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>Contact Name</th>
            <th>Orders Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.CustomerID</td>
                <td>@customer.ContactName</td>
                <td>@customer.OrdersCount</td>
            </tr>
        }
    </tbody>
</table>
