@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin: 5%">
    <h1 class="display-4">Welcome To The Orders Tracker </h1>
    <h3 style="margin-top: 5%">Here you can manage your orders effectively and efficiently.</h3>
</div>
<div class="text-center" style="margin: 5%">
    <a class="btn btn-outline-primary" asp-controller="Customer" asp-action="Index">View Customers</a>
    <a class="btn btn-outline-primary" asp-area="" asp-controller="Order" asp-action="Index">View Orders</a>
</div>
